
quartz_tools/.gradle/4.8/fileChanges/last-build.bin
quartz_tools/.gradle/4.8/fileHashes/fileHashes.bin
quartz_tools/.gradle/4.8/fileHashes/fileHashes.lock
quartz_tools/.gradle/vcsWorkingDirs/gc.properties
quartz_tools/.idea/compiler.xml
quartz_tools/.idea/gradle.xml
quartz_tools/.idea/libraries/Gradle__junit_junit_4_12.xml
quartz_tools/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
quartz_tools/.idea/misc.xml
quartz_tools/.idea/modules.xml
quartz_tools/.idea/modules/quartz_tools.iml
quartz_tools/.idea/modules/quartz_tools_main.iml
quartz_tools/.idea/modules/quartz_tools_test.iml
quartz_tools/.idea/vcs.xml
quartz_tools/.idea/workspace.xml
